{% extends 'users/base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.non_field_errors }}

    <div class="errorlist">
        <p>Исправьте, пожалуйста, следующие ошибки:</p>
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

    <button type="submit">Сменить пароль</button>
</form>

{% endblock content %}
